/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #ddd;
  font-size: 2em;
}
/*
lerna version 
lerna version --conventional-commits
lerna version --exact
lerna version --force-publish=package-2
"message": "chore(release): publish %s"
 */